#sidebar {
    flex: 1;
    background: var(--sidebar-background-color);
    color: var(--sidebar-folder-color);
    max-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: var(--border-radius) 0 0 var(--border-radius);    
    transition: max-width 0.4s ease-in-out;
}

#sidebar-content {
    transition: opacity 0.3s ease-in;
}

.file-button {
    background: none;
    border: none;
    color: var(--sidebar-file-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    text-align: left;
    border-radius: 3px;
    font-size: var(--sidebar-font-size);
    font-family: var(--font-family);
}

.file-button:hover {
    background: var(--sidebar-selection-color);
}

.file-button:focus {
    outline: none;
    background: none;
    text-decoration: underline;
}

.folder-button {
    background: none;
    border: none;
    width: 95%;
    text-align: left;
    border-radius: 3px;
    font-family: var(--font-family);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--sidebar-folder-color);
    font-size: var(--sidebar-font-size);
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transform: scale(1, 0.95);
}

.selected {
    text-decoration: underline;
}

.folder-button:hover {
    background: var(--sidebar-selection-color);
}

.folder-button:focus {
    outline: none;
    background: var(--sidebar-selection-color);
}

li {
    list-style-type: none;
    line-height: 5px;
    font-size: var(--sidebar-font-size);
}

ul {
    padding-left: 20px;
}

.nested {
    padding-left: 12px;
    display: none;
}

.nested li {
    margin: 0;
    border-left: 1px solid var(--editor-hashtag-color);
}

.nested.active {
    display: block;
}


select {
    display : inline-block;
}

#preferences {
    display: none;
}

.pref {
    padding-left: 6px;
    padding-top: 3px;
    white-space: nowrap;
}


.file-name {
    background: transparent;
    color: var(--editor-text-color);
    border: 1px solid var(--editor-text-color);
    border-radius: 4px;
    resize: none; 
    max-width: 134px;
    max-height: 20px;
    outline: none;
    font-size: var(--sidebar-font-size);
    font-family: var(--font-family);
}

select {
    background: var(--sidebar-background-color);
    border: 1px solid var(--editor-text-color);
    border-radius: 4px;
    outline: none;
    padding-bottom: 0px;
    color: var(--editor-text-color);
    font-family: var(--font-family);
    font-size: var(--sidebar-font-size);
    width: 140px;
}

select:hover {
    background: var(--sidebar-selection-color);
}

option {
    background-color: var(--sidebar-background-color);
    color: var(--editor-text-color);
    font-family: var(--font-family);
    font-size: var(--sidebar-font-size);
}

.delete-area {
    border: 1px solid var(--editor-text-color);
    box-sizing: border-box;
    height: 50px;
    z-index: 10;
    background-color: var(--sidebar-background-color);
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.delete-area.active {
    display: block;
}