:root {
    --font-size: 15px;
    --border-radius: 4px;
    --title-font-size: 20px;
    --sidebar-font-size: 15px;
    --font-family: 'arial', 'arial';
    --font-weight: 300;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    scroll-behavior: smooth;
    margin: 0px;
    user-select: none;
    display: var(--display);
    overflow: hidden;
}

#main {
    display: flex;
    height: 100vh;
    width: 100wh;
    border-radius: var(--border-radius);
}

#text-area {
    z-index: 2;
    flex: 1;
    display: flex;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    position: relative;
    overflow: hidden;
    border-left: calc(1px - var(--shadow)) solid var(--divider-color);
    box-shadow: 0 0 calc(var(--shadow) * 20) var(--divider-color);
    background: var(--editor-background-color);
}

#text-preview {
    z-index: 3;
    overflow-y : auto;
    overflow-x : hidden;
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    color: var(--editor-text-color);
    white-space: pre-wrap;
    word-wrap: break-word;
    content:  var(--preview-text);
}

#text-editor {
    flex: 1;
    z-index: 4;
    overflow-y : auto;
    overflow-x : hidden;
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    background: transparent;
    color: transparent;
    caret-color: var(--editor-text-color);
    outline: 0px solid transparent;
    border: 0px solid transparent;
    resize: none; 
    font-weight: inherit; 
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

::-webkit-scrollbar {
    width: 3px;
}

.sidebar::-webkit-scrollbar {
    background: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 2px;
}

mark.header {
    color: var(--editor-header-color);
    background-color: transparent;
}

mark.bold {
    color: var(--editor-header-color);
    background-color: transparent;
}

mark.hashtag {
    color: var(--editor-hashtag-color);
    background-color: transparent;
}