:root {
    --font-size: 15px;
    --border-radius: 4px;
    --title-font-size: 20px;
    --sidebar-font-size: 15px;
    --font-family: 'arial';
}

body {
    font-family: var(--font-family);
    scroll-behavior: smooth;
    margin: 0px;
    user-select: none;
    display: var(--display);
}

.main {
    display: flex;
    height: 100vh;
    width: 100wh;
    border-radius: var(--border-radius);
}

.text-div {
    flex: 1;
    display: flex;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    position: relative;
    overflow: hidden;
    border-left: calc(1px - var(--shadow)) solid var(--divider-color);
    box-shadow:  calc(100px - var(--shadow) * 100) 0 20px var(--divider-color);
}

.text-preview {
    z-index: 1;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow : auto;
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--editor-text-color);
    background-color: var(--editor-background-color);
    white-space: pre-wrap;
    word-wrap: break-word;
    content:  var(--preview-text);
}

.text-editor {
    background: transparent;
    color: transparent;
    caret-color: var(--editor-text-color);
    z-index: 2;
    flex: 1;
    outline: 0px solid transparent;
    border: 0px solid transparent;
    overflow : auto;
    resize: none; 
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar {
    background: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--divider-color);
    border-radius: 2px;
}

mark.header {
    color: var(--editor-header-color);
    background-color: transparent;
}

mark.hashtag {
    color: var(--editor-hashtag-color);
    background-color: transparent;
}