#canvas-container {
    z-index: 50;
    display: flex;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: transparent;
}

#canvas {
    position: absolute;
    width: 0;
    height: 0;
}

#box-selection {
    z-index: 900;
    display: none;
    transform-origin: 0 0;
    position: absolute;
    background-color: var(--editor-muted-color);
    opacity: .3;
}

.card {
    background-color: var(--canvas-card-color);
    min-height: 35px;
    height: auto;
    width: 200px;
    position: absolute;
    border: .5px solid var(--editor-muted-color);
    box-shadow: 0 0 5px #00000028;
    border-radius: 3px;
    padding: 25px 12px 12px 12px;
    transition: top .05s ease-out, left .05s ease-out;
}

.card.inversed {
    background-color: var(--canvas-inversed-card-color);
    border: 2px solid var(--editor-muted-color);
}

.card.selected {
    border: 1px solid var(--editor-accent-color);
}

.card:has(img) {
    padding: 5px;
}

.card img {
    width: 100%;
    height: auto;
    pointer-events: none !important;
    vertical-align: bottom;
}

.card textarea, .card-preview {
    color: var(--editor-text-color);
    text-decoration: none;
    tab-size : 4;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    white-space: break-spaces;
    overflow-y : auto;
    overflow-x : hidden;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.card-preview {
    z-index: 0;
    position: relative;
}

.card textarea {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: 25px 12px 12px 12px;
    height: auto;
    background-color: transparent;
    resize: none;
    box-sizing: border-box;
    border: none;
    color: transparent;
    caret-color: var(--editor-text-color);
    pointer-events: var(--cards-pointer-events);
}

.handle {
    background-color: var(--editor-accent-color);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.handle:hover {
    opacity: 1;
}

.handle-left {
    left: 0;
}

.handle-right {
    right: 0;
}

#canvas svg {
    pointer-events: none;
    z-index: 500;
    position: absolute;
    left: -5000px;
    top: -5000px;
    width: 10000px;
    height: 10000px;
}

#canvas svg .arrow {
    pointer-events: auto;
    stroke: transparent;
    stroke-width: 25;
    stroke-linecap: round;
}

#canvas svg .visual-arrow {
    stroke: var(--editor-muted-color);
    pointer-events: none;
    stroke-width: 4;
    stroke-linecap: round;
    marker-end: url(#arrowHeadUnselected);
}


#arrowHeadSelected {
    fill: var(--editor-accent-color);
}

#arrowHeadUnselected {
    fill: var(--editor-muted-color);
}

#canvas .arrow.selected + .visual-arrow {
    marker-end: url(#arrowHeadSelected);
    stroke: var(--editor-accent-color);
}