:root {
    --font-size: 15px;
    --title-font-size: 20px;
    --sidebar-font-size: 15px;
    --font-family: 'inter', 'arial';
    --font-weight: 300;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    scroll-behavior: smooth;
    margin: 0px;
    user-select: none;
    display: var(--display);
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    width: 100wh;
}

#text-area {
    z-index: 2;
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
    border-left: calc(1px - var(--shadow)) solid var(--divider-color);
    box-shadow: 0 0 calc(var(--shadow) * 20) var(--divider-color);
    background: var(--editor-background-color);
}

#text-preview {
    z-index: 3;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    color: var(--editor-text-color);
    white-space: pre-wrap;
    word-wrap: break-word;
    content:  var(--preview-text);
}

#text-editor {
    flex: 1;
    z-index: 4;
    background: transparent;
    color: transparent;
    caret-color: var(--editor-text-color);
    outline: 0px solid transparent;
    border: 0px solid transparent;
    resize: none; 
    font-weight: inherit; 
}

#text-preview, #text-editor {
    overflow-y : auto;
    overflow-x : hidden;
    padding: 20px;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

::-webkit-scrollbar {
    display: none;
}

mark.header {
    color: var(--editor-header-color);
    background-color: transparent;
}

mark.bold {
    color: var(--editor-header-color);
    background-color: transparent;
}

mark.hashtag {
    color: var(--editor-hashtag-color);
    background-color: transparent;
}

#circularScroll {
    z-index: 100 !important;
    position: absolute;
    background-color: var(--editor-hashtag-color);
    opacity: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 15px;
    bottom: 15px;
    display: grid;
    place-items: center;
    transition: opacity 0.3s ease-in-out;
}

#circularScroll::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 70%;
    background-color: var(--editor-background-color);
    border-radius: 50%;
}