:root {
    --font-size: 15px;
    --sidebar-font-size: 15px;
    --additional-padding-left: 50px;
    --font-family: 'inter', sans-serif;
    --font-weight: 300;
    --scroll-background: red;
    --italic-style: normal;
    --bold-weight: var(--font-weight);
    --cards-pointer-events: 'auto';
}

* {
    outline: none;
    font-family: var(--font-family);
}

body {
    font-weight: var(--font-weight);
    scroll-behavior: smooth;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    width: 100wh;
}

#main-area {
    z-index: 2;
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 calc(var(--shadow) * 20) var(--divider-color);
    background: var(--editor-background-color);
    border-left: calc(1px - var(--shadow)) solid var(--divider-color);
}

#text-preview, #search-preview, #spell-preview {
    z-index: 3;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    color: var(--editor-text-color);
    content: var(--preview-text);
    pointer-events: none;
}

#image-container {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display {
    display: none;
    max-width: 100%;
    max-height: 100%;
    border: var(--editor-accent-color) calc(1px - var(--shadow)) solid;
    box-shadow: 0 0 calc(var(--shadow) * 10) var(--editor-muted-color);
}

#search-preview, #spell-preview {
    color: transparent;
}

#text-editor {
    flex: 1;
    z-index: 4;
    background: transparent;
    color: transparent;
    caret-color: var(--editor-text-color);
    border: 0px solid transparent;
    resize: none; 
    font-weight: inherit; 
}

#search-preview, #text-preview, #text-editor, #spell-preview {
    tab-size : 4;
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-y : auto;
    overflow-x : hidden;
    padding: 6vh 16vw 200px calc(var(--additional-padding-left) + 6vw);
    font-size: var(--font-size);
    transition: padding .4s ease-in-out;
}

@media (max-width: 1150px) {
    #search-preview, #text-preview, #text-editor, #spell-preview {
        padding: 20px 20px 200px 20px;
    }
}

#circularScroll {
    z-index: 80 !important;
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    right: 15px;
    bottom: 15px;
    transition: opacity .3s ease-in-out;
}

#circularScroll::before {
    opacity: 1;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: var(--scroll-background);
    clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 50%, 82.000% 50.000%,81.841% 46.814%,81.366% 43.659%,80.578% 40.568%,79.487% 37.570%,78.103% 34.696%,76.440% 31.974%,74.513% 29.431%,72.344% 27.092%,69.952% 24.981%,67.361% 23.119%,64.599% 21.524%,61.691% 20.212%,58.667% 19.196%,55.557% 18.486%,52.391% 18.089%,49.202% 18.010%,46.021% 18.248%,42.879% 18.802%,39.808% 19.666%,36.839% 20.832%,34.000% 22.287%,31.320% 24.018%,28.826% 26.007%,26.542% 28.234%,24.492% 30.678%,22.695% 33.314%,21.169% 36.116%,19.930% 39.055%,18.990% 42.104%,18.357% 45.231%,18.040% 48.405%,18.040% 51.595%,18.357% 54.769%,18.990% 57.896%,19.930% 60.945%,21.169% 63.884%,22.695% 66.686%,24.492% 69.322%,26.542% 71.766%,28.826% 73.993%,31.320% 75.982%,34.000% 77.713%,36.839% 79.168%,39.808% 80.334%,42.879% 81.198%,46.021% 81.752%,49.202% 81.990%,52.391% 81.911%,55.557% 81.514%,58.667% 80.804%,61.691% 79.788%,64.599% 78.476%,67.361% 76.881%,69.952% 75.019%,72.344% 72.908%,74.513% 70.569%,76.440% 68.026%,78.103% 65.304%,79.487% 62.430%,80.578% 59.432%,81.366% 56.341%,81.841% 53.186%,82.000% 50.000%);
}

#search-box {
    z-index: 90;
    position: absolute;
    top: -50px;
    right: 10px;
    padding: 7px;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 5px #0000008a;
    border: 1px solid #888888;
    transition: top .15s ease-out;
}

#search-results {
    color: #f1f1f1;
    display: inline-block;
    width: 3ch;
    padding-left: 3px;
}

#search-input {
    color: #f1f1f1;
    border-radius: 2px;
    border: none;
    resize: none; 
    background-color: #3f3f3f;
    max-height: 22px;
    max-width: 150px;
    font-size: var(--sidebar-font-size);
}

#quick-open-box {
    display: none;
    z-index: 90;
    position: absolute;
    bottom: 10px;
    left: calc(var(--sidebar-font-size) * 8 + 185px + 50px - var(--additional-padding-left));
    right: 100px;
    padding: 7px;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 5px #0000008a;
    border: 1px solid #888888;
}

#quick-open-input {
    color: #f1f1f1;
    border-radius: 2px;
    border: none;
    resize: none; 
    background-color: #3f3f3f;
    max-height: 22px;
    width: calc(100% - 6px);
    font-size: var(--sidebar-font-size);
    margin-left: 3px;
    box-sizing: border-box;
}

#quick-open-results {
    padding-bottom: 5px;
    padding-right: 3px;
}

.quick-open-file-button {
    background: transparent;
    border: none;
    text-overflow: ellipsis;
    color: #b8b8b8;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    text-align: left;
    border-radius: 3px;
    font-size: var(--sidebar-font-size);
    cursor: pointer;
    width: 100%;
}

mark.full-path {
    color: #696969;
}

.quick-open-file-button:hover {
    background-color: #3f3f3f;
}


.quick-open-file-button.selected {
    background-color: #3f3f3f;
}

#context-menu {
    position: absolute;
    z-index: 1000;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 5px #0000008a;
    list-style: none;
    font-size: 14px;
    border: 1px solid #888888;
    min-width: 120px;
    padding: 5px 0 5px 0;
    opacity: 0;
    transition: opacity .15s ease-out;
}

#image-preview {
    pointer-events: none;
    position: absolute;
    z-index: 50;
    background-color: #2a2a2a;
    border: 1px solid #888888;
    padding: 10px;
    opacity: 0;
    transition: opacity .15s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-preview-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

#context-menu.show, #image-preview.show {
    opacity: 1;
}

#context-menu li {
    padding: 8px 10px;
    cursor: pointer;
    color: #ebebeb;
}

#context-menu li.locked {
    color: #737373;
    cursor: default;
}

#context-menu li:hover {
    background-color: #4a4a4a;
}

#context-menu li.locked:hover {
    background-color: inherit;
}

#context-menu li.separator {
  height: 1px;
  background-color: #737373;
  margin: 4px 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

span.code, span.inline-code {
    display: block;
    position: relative;
}

span.inline-code {
    display: inline-block;
    position: relative;
}

span.code::before {
    z-index: -10;
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -5px;
    background-color: var(--editor-code-background-color);
    border: .5px solid var(--editor-muted-color);
    box-shadow: 0 0 calc(var(--shadow) * 5) var(--editor-muted-color);
    border-radius: 3px;
}

mark {
    display: inline;
    background-color: transparent;
}

mark.inline-code, mark.inline-code .italic {
    background-color: var(--editor-code-background-color);
    color: var(--editor-text-color);
    border-radius: 3px;
}

mark.muted, mark.comment, mark.comment .keyword, mark.code-marker {
    color: var(--editor-muted-color);
}

h1, h2, h3, h4 {
    display: inline;
    font-size: 1em;
    margin: 0;
    font-weight: var(--font-weight);
}

h1, h2, h3, h4, mark.bold {
    color: var(--editor-accent-color);
    font-weight: var(--bold-weight);
    text-shadow: 0 0 calc(var(--shadow) * 2) var(--editor-muted-color);
}

mark.italic, mark.keyword {
    color: var(--editor-accent-color);
    font-style: var(--italic-style);
    text-shadow: 0 0 calc(var(--shadow) * 2) var(--editor-muted-color);
}

mark.search {
    background-color: var(--editor-muted-color);
    color: var(--editor-text-color);
}

mark.mistake {
    text-decoration: underline 1px red;
    color: transparent;
}

a, a:visited, mark.link {
    text-decoration: underline 1px;
    color: var(--editor-accent-color);
    cursor: pointer;
}