:root {
    --font-size: 15px;
    --sidebar-font-size: 15px;
    --font-family: 'inter', sans-serif;
    --font-weight: 300;
}

* {
    outline: none;
    font-family: var(--font-family);
}

body {
    font-weight: var(--font-weight);
    scroll-behavior: smooth;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    width: 100wh;
}

#text-area {
    z-index: 2;
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
    border-left: calc(1px - var(--shadow)) solid var(--divider-color);
    box-shadow: 0 0 calc(var(--shadow) * 20) var(--divider-color);
    background: var(--editor-background-color);
}

#text-preview, #search-preview {
    z-index: 3;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    color: var(--editor-text-color);
    content:  var(--preview-text);
}

#search-preview {
    color: transparent;
}

#text-editor {
    flex: 1;
    z-index: 4;
    background: transparent;
    color: transparent;
    caret-color: var(--editor-text-color);
    border: 0px solid transparent;
    resize: none; 
    font-weight: inherit; 
}

#search-preview, #text-preview, #text-editor {
    tab-size : 4;
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-y : auto;
    overflow-x : hidden;
    padding: 6vh 18vw 20px 18vw;
    font-size: var(--font-size);
    transition: padding .15s ease;
}

@media (max-width: 1150px) {
    #search-preview, #text-preview, #text-editor {
        padding: 20px;
    }
}

#circularScroll {
    z-index: 100 !important;
    position: absolute;
    background-color: var(--editor-hashtag-color);
    opacity: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 15px;
    bottom: 15px;
    display: grid;
    place-items: center;
    transition: opacity .3s ease-in-out;
}

#circularScroll::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 70%;
    background-color: var(--editor-background-color);
    border-radius: 50%;
}

#search-box {
    z-index: 99;
    position: absolute;
    top: -50px;
    right: 10px;
    padding: 7px;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 5px #0000008a;
    border: 1px solid #888888;
    transition: top .15s ease-out;
}

#search-results {
    color: #f1f1f1;
    display: inline-block;
    width:3ch;
    padding-left: 3px;
}

#search-input {
    color: #f1f1f1;
    border-radius: 2px;
    border: none;
    resize: none; 
    background-color: #3f3f3f;
    max-height: 22px;
    max-width: 150px;
    font-size: var(--sidebar-font-size);
}

#context-menu {
    position: absolute;
    z-index: 100;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 5px #0000008a;
    list-style: none;
    font-size: 14px;
    border: 1px solid #888888;
    min-width: 120px;
    padding: 5px 0 5px 0;
    opacity: 0;
    transition: opacity .15s ease-out;
}

#context-menu.show {
    opacity: 1;
}

#context-menu li {
    padding: 8px 10px;
    cursor: pointer;
    color: #ebebeb;
}

#context-menu li:hover {
    background-color: #4a4a4a;
}

#context-menu li.separator {
  height: 1px;
  background-color: #737373;
  margin: 4px 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

span.code, span.inline-code {
    display: block;
    position: relative;
}

span.inline-code {
    display: inline-block;
    position: relative;
}

span.code::before {
    z-index: -10;
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -5px;
    background-color: var(--editor-code-background-color);
    border: .5px solid var(--editor-hashtag-color);
    box-shadow: 0 0 calc(var(--shadow) * 5) var(--editor-hashtag-color);
    border-radius: 3px;
}

mark {
    display: inline;
    background-color: transparent;
}

mark.inline-code, mark.inline-code .italic {
    background-color: var(--editor-code-background-color);
    color: var(--editor-text-color);
    border-radius: 3px;
}

mark.header, mark.italic, mark.keyword {
    color: var(--editor-header-color);
}

mark.hashtag, mark.comment, mark.comment .keyword {
    color: var(--editor-hashtag-color);
}

mark.search {
    background-color: var(--editor-hashtag-color);
    color: var(--editor-text-color);
}