:root {
    --font-size: 20px;
    --font-family: 'inter', sans-serif;
    --before-title: '';
}

body {
    margin: 0;
    overflow: hidden;
}

main {
    background-color: var(--editor-background-color);
    color: var(--editor-text-color);
    word-wrap: break-word;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    overflow: scroll;
    height: 100vh;
}

#content {
    tab-size : 4;
    padding: 20px;
    white-space: pre-wrap;
}

#nodrag {
    background-color: var(--editor-background-color);
    position: relative;
    z-index: 20;
    height: 4px;
}

#titlebar {
    z-index: 10;
    position: relative;
    background-color: var(--editor-background-color);
    border-bottom: var(--editor-accent-color) calc(1px - var(--shadow)) solid;
    box-shadow: 0 0 calc(var(--shadow) * 10) var(--editor-muted-color);
    padding-bottom: 4px;
    height: 26px;
    display: flex;
    padding-right: 3px;
}

#title {
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 4px;
    font: 17px var(--font-family);
    color: var(--editor-accent-color);
    user-select: none;
}

#title::before {
    content: var(--before-title);
}

.titlebar-button {
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.titlebar-button:hover {
    background-color: var(--editor-code-background-color);
}

.titlebar-button svg {
    fill: var(--editor-text-color);
    width: 10px;
    height: 10px;
}

.todo {
    background: transparent;
    border: var(--editor-muted-color) 1px solid;
    height: var(--font-size);
    width: var(--font-size);
    padding: 0;
    border-radius: 50%;
    vertical-align: calc(var(--font-size) * -0.15);
}

.todo.checked {
    background: var(--editor-muted-color);
    border: var(--editor-muted-color);
}

.todo:hover {
    cursor: pointer;
}

span.code, span.inline-code {
    display: block;
    position: relative;
    font-family: "Iosevka", "Victor Mono", monospace;
}

span.inline-code {
    display: inline-block;
    position: relative;
}

span.code::before {
    z-index: 30;
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -5px;
    background-color: var(--editor-code-background-color);
    border: .5px solid var(--editor-muted-color);
    box-shadow: 0 0 calc(var(--shadow) * 5) var(--editor-muted-color);
    border-radius: 3px;
}

a, a:visited {
    color: var(--editor-accent-color);
}

a:after {
    content: '↗';
}

mark {
    display: inline;
    background-color: transparent;
}

mark.inline-code, mark.inline-code .italic {
    background-color: var(--editor-code-background-color);
    color: var(--editor-text-color);
    border-radius: 3px;
}

mark.italic, mark.keyword {
    color: var(--editor-accent-color);
    font-style: italic;
    text-shadow: 0 0 calc(var(--shadow) * 4) var(--editor-muted-color);
}

mark.bold {
    color: var(--editor-accent-color);
    font-weight: 500;
    text-shadow: 0 0 calc(var(--shadow) * 4) var(--editor-muted-color);
}

s, s mark.italic, s mark.bold, s mark.keyword{
    color: var(--editor-muted-color);
}

mark.muted {
    display: none;
}

mark.comment, mark.comment .keyword {
    color: var(--editor-muted-color);
}

mark.search {
    background-color: var(--editor-muted-color);
    color: var(--editor-text-color);
}

mark.mistake {
    text-decoration: underline 1px red;
    color: transparent;
}

h1, h2, h3, h4 {
    display: inline;
    font-weight: bold;
    background-color: transparent;
    color: var(--editor-accent-color);
}

::selection {
    background-color: var(--selection-color);
    color: var(--editor-text-color);
}

ul {
    margin: 0;
    padding-left: 1.8em;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--editor-muted-color);
    border-radius: 3px;
}