#sidebar {
    z-index: 1;
    flex: 1;
    background: var(--sidebar-background-color);
    color: var(--sidebar-folder-color);
    max-width: 200px;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    transition: max-width .4s ease-in-out;
}

#nodrag {
    width: 4px;
    height: 100%;
    background-color: var(--sidebar-background-color);
}

#sidebar-content {
    transition: opacity .3s ease-in;
    flex: 1 1 auto; 
    overflow-y: auto;
}

.folder-button, .file-button, .pin-button {
    background: none;
    border: none;
    color: var(--sidebar-file-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    text-align: left;
    border-radius: 3px;
    font-size: var(--sidebar-font-size);
    cursor: pointer;
}

.folder-button:focus, .file-button:focus, .pin-button:focus {
    background: var(--sidebar-selection-color);
}

.folder-button:hover, .file-button:hover, .pin-button:hover, select:hover {
    background: var(--sidebar-selection-color);
}

.pin-button::before {
    content: "→ ";
}

.image-file::before {
    content: "● ";
}

.canvas-file::before {
    content: "▲ ";
}

.folder-button {
    color: var(--sidebar-folder-color);
    text-transform: uppercase;
}

#sidebar .selected {
    text-decoration: underline;
}

li {
    list-style-type: none;
    line-height: 5px;
    font-size: var(--sidebar-font-size);
}

ul {
    padding-left: 17px;
}

.nested {
    padding-left: 12px;
    display: none;
}

.nested li {
    border-left: 1px solid var(--divider-color);
}

#window-buttons {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 30px;
    display: flex;
    flex-direction: column;
}

#window-buttons:hover .window-button {
    opacity: 0.2;
}

.window-button:hover{
    opacity: 1 !important;   
}

.window-button {
    background-color: transparent;
    border: none;
    cursor: pointer;   
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.window-button svg {
    width: 14px;
    height: 14px;
    fill: var(--editor-text-color);
}

#preferences {
    border-top: calc(1px - var(--shadow)) solid var(--divider-color);
    border-bottom: calc(1px - var(--shadow)) solid var(--divider-color);
    box-shadow: 0 0 calc(var(--shadow) * 20) var(--divider-color);
    width: 200px;
    display: none;
    padding: 24px 20px 25px 20px;
    margin: 0 0 55px 0;
    z-index: 10;
}

.pref {
    padding-left: 6px;
    padding-top: 3px;
    white-space: nowrap;
}

#name-input, #font-input {
    background: transparent;
    font-size: var(--sidebar-font-size);
    border: 1px solid var(--editor-text-color);
    resize: none; 
    max-height: 20px;
}

#counter {
    padding-bottom: 4px;
    padding-left: 3px;
}

#name-input {
    color: var(--editor-text-color);
    border-radius: 3px;
    height: 17px;
    margin-left: 3px;
    max-width: 134px;
    display: none;
}

#font-input {
    color: var(--sidebar-folder-color);
    border-radius: 4px;
    max-width: 131px;
    padding-left: 5px;
}

select {
    display : inline-block;
    background: transparent;
    border: 1px solid var(--editor-text-color);
    border-radius: 4px;
    padding-bottom: 0px;
    color: var(--sidebar-folder-color);
    font-size: var(--sidebar-font-size);
    width: 140px;
}

select option {
    background-color: var(--sidebar-background-color);
}
