:root {
    --editor-background-color: #cfcfcf;
    --editor-code-background-color: #8d8d8d;
    --editor-text-color: #333333;
    --editor-header-color: #252525;
    --editor-hashtag-color: #6c6a6a;
    --selection-color: #b7b7b7;

    --sidebar-background-color:#cfcfcf;
    --sidebar-folder-color: #252525;
    --sidebar-file-color: #6c6a6a;
    --sidebar-selection-color: #c5c5c5;

    --divider-color: #a2a2a2;
    --shadow: 1px;
}