:root {
    --editor-background-color: #9d9d9d;
    --editor-code-background-color: #8d8d8d;
    --editor-text-color: #252525;
    --editor-header-color: #d5d5d5;
    --editor-hashtag-color: #6c6a6a;
    --selection-color: #c9c9c9;

    --sidebar-background-color:#9d9d9d;
    --sidebar-folder-color: #252525;
    --sidebar-file-color: #6c6a6a;
    --sidebar-selection-color: #b5b5b5;

    --divider-color: #6c6a6a;
    --shadow: 1px;
}