:root {
    --editor-background-color: #2e2e2e;
    --editor-code-background-color: #222222;
    --editor-text-color: #cecece;
    --editor-accent-color: #8ec1b3;
    --editor-muted-color: #4e4e4e;
    --selection-color: #6a6a6a;

    --canvas-card-color: #292929;
    --canvas-inversed-card-color: #424242;

    --sidebar-background-color:#373737;
    --sidebar-folder-color: #bdbdbd;
    --sidebar-file-color: #7a7a7a;
    --sidebar-selection-color: #4b4b4b;

    --divider-color: #373737;
    --shadow: 0px;
}