:root {
    --editor-background-color: #392424;
    --editor-code-background-color: #241515;
    --editor-text-color: #d8b8b8;
    --editor-accent-color: #d97676;
    --editor-muted-color: #753939;
    --selection-color: #673c3c;

    --canvas-card-color: #241515;
    --canvas-inversed-card-color: #361f1f;

    --sidebar-background-color:#643434;
    --sidebar-folder-color: #c7a3a3;
    --sidebar-file-color: #b28585;
    --sidebar-selection-color: #733e3e;

    --divider-color: #643434;
    --shadow: 0px;
    /* --border: 3px; */
}