:root {
    --editor-background-color: #271d1d;
    --editor-code-background-color: #1f1313;
    --editor-text-color: #c6bd9f;
    --editor-accent-color: #cea477;
    --editor-muted-color: #765b5b;
    --selection-color: #4d3f3f;

    --sidebar-background-color:#271d1d;
    --sidebar-folder-color: #cea477;
    --sidebar-file-color: #c6bd9f;
    --sidebar-selection-color: #3b2f2f;

    --divider-color: #918076;
    --shadow: 0px;
}