:root {
    --editor-background-color: #292121;
    --editor-code-background-color: #180e0e;
    --editor-text-color: #c4bcac;
    --editor-accent-color: #d1b495;
    --editor-muted-color: #765b5b;
    --selection-color: #4d3f3f;

    --canvas-card-color: #180e0e;
    --canvas-inversed-card-color: #221a1a;

    --sidebar-background-color:#292121;
    --sidebar-folder-color: #b89a79;
    --sidebar-file-color: #c4bcac;
    --sidebar-selection-color: #3b2f2f;

    --divider-color: #918076;
    --shadow: 0px;
}