:root {
    --editor-background-color: #e3e2dd;
    --editor-code-background-color: #cfcdc6;
    --editor-text-color: #515050;
    --editor-header-color: #b6160a;
    --editor-hashtag-color: #848383;
    --selection-color: #c5c4c0;

    --sidebar-background-color: #e3e2dd;
    --sidebar-folder-color: #515050;
    --sidebar-file-color: #a1a09c;
    --sidebar-selection-color: #dedcd4;

    --sidebar-divider-color:  #515050;
    --shadow: 0px;
}