:root {
    --editor-background-color: #e3e2dd;
    --editor-code-background-color: #d9d7d2;
    --editor-text-color: #515050;
    --editor-accent-color: #b6160a;
    --editor-muted-color: #b3b2b2;
    --selection-color: #c5c4c0;

    --canvas-card-color: #d9d7d2;
    --canvas-inversed-card-color: #e3e2dd;

    --sidebar-background-color: #e3e2dd;
    --sidebar-folder-color: #515050;
    --sidebar-file-color: #a1a09c;
    --sidebar-selection-color: #dedcd4;

    --divider-color:  #e3e2dd;
    --shadow: 0px;
}