:root {
    --editor-background-color: #aaa09e;
    --editor-text-color: #212424;
    --editor-header-color: #243e44;
    --editor-hashtag-color: #847c7a;
    --selection-color: #847c7a;

    --sidebar-background-color:#aaa09e;
    --sidebar-folder-color: #243e44;
    --sidebar-file-color: #151717;;
    --sidebar-selection-color: #98908e;

    --divider-color: #aaa09e;
    --shadow: 0px;
}