:root {
    --editor-background-color: #2b2b2b;
    --editor-code-background-color: #232323;
    --editor-text-color: #bab6b6;
    --editor-accent-color: #e3d1bb;
    --editor-muted-color: #575555;
    --selection-color: #424141;

    --sidebar-background-color: #2b2b2b;
    --sidebar-folder-color: #a9a6a6;
    --sidebar-file-color: #8a8787;
    --sidebar-selection-color: #424141;

    --divider-color:  #2b2b2b;
    --shadow: 0px;
}