:root {
    --editor-background-color: #f8f8f8d3;
    --editor-code-background-color: #efefef24;
    --editor-text-color: #0f0f0fdc;
    --editor-accent-color: #1a3d7fdc;
    --editor-muted-color: #aeaeaef8;
    --selection-color: #ababab;

    --canvas-card-color: #c9c9c9;
    --canvas-inversed-card-color: #c5c5c5;

    --sidebar-background-color:#f8f8f8d3;
    --sidebar-folder-color: #191919ed;
    --sidebar-file-color: #5d5d5ddc;
    --sidebar-selection-color: #b1b1b1b0;

    --divider-color: #f2f2f200;
    --shadow: 0px;
}