:root {
    --editor-background-color: #1d1d1d;
    --editor-text-color: #cccccc;
    --editor-header-color: #d56a6a;
    --editor-hashtag-color: #747474;
    --selection-color: #2a2a2a;

    --sidebar-background-color:#1d1d1d;
    --sidebar-folder-color: #cccccc;
    --sidebar-file-color: #747474;
    --sidebar-selection-color: #2a2a2a;

    --divider-color: #1d1d1d;
    --shadow: 0px;
}