:root {
    --editor-background-color: #1d1d1d;
    --editor-code-background-color: #121212;
    --editor-text-color: #cccccc;
    --editor-accent-color: #d56a6a;
    --editor-muted-color: #5a5a5a;
    --selection-color: #3d3d3d;

    --sidebar-background-color:#1d1d1d;
    --sidebar-folder-color: #b0b0b0;
    --sidebar-file-color: #747474;
    --sidebar-selection-color: #2a2a2a;

    --divider-color: #1d1d1d;
    --shadow: 0px;
}