:root {
    --editor-background-color: #878787;
    --editor-text-color: #141414;
    --selection-background-color: #c9c9c9;

    --sidebar-background-color: #878787;
    --sidebar-text-color: #141414;

    --sidebar-divider-color:  #585858;
}