:root {
    --editor-background-color: #878787;
    --editor-text-color: #141414;
    --editor-header-color: #e0e0e0;
    --editor-hashtag-color: #3b3b3b;
    --selection-color: #c9c9c9;
    --scrollbar-color: #2f2f2f;

    --sidebar-background-color:#878787;
    --sidebar-text-color: #141414;
    --sidebar-selection-color: #b5b5b5;

    --divider-color: #585858;
    --shadow: 1px;
}