:root {
    --editor-background-color: #f0efe9;
    --editor-text-color: #515050;
    --selection-background-color: #d7d7d7;
    --editor-hashtag-color: #969393;

    --sidebar-background-color: #f0efe9;
    --sidebar-text-color: #515050;

    --sidebar-divider-color:  #515050;
}