:root {
    --editor-background-color: #f0efe9;
    --editor-text-color: #515050;
    --selection-background-color: #9b9b9b;

    --sidebar-background-color: #f0efe9;
    --sidebar-text-color: #515050;

    --sidebar-divider-color:  #515050;
}