:root {
    --editor-background-color: #2a2925;
    --editor-text-color: #d4c0bb;
    --editor-header-color: #f0b9a3;
    --editor-hashtag-color: #786c5c;
    --selection-color: #0b0a08;
    --scrollbar-color: #786c5c;

    --sidebar-background-color:#2a2925;
    --sidebar-folder-color: #d8b1a1;
    --sidebar-file-color: #d4c0bb;
    --sidebar-selection-color: #1f1c17;

    --divider-color: #2a2925;
    --shadow: 0px;
}