:root {
    --font-size: 15px;
    --border-radius: 4px;
}

body {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
    user-select: none;
}

.directory-label {
    color: var(--sidebar-text-color);
    font-weight: 600;
}

.main {
    display: flex;
    height: 100vh;
    width: 100wh;
    border-radius: var(--border-radius);
}

.sidebar {
    flex: 1;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    border-right: 1px solid var(--sidebar-divider-color);
    max-width: 200px;
    overflow: auto;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.file-button {
    background: none;
    border: none;
    color: var(--sidebar-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    text-align: left;
    border-radius: 3px;
}

.file-button:hover {
    background: var(--selection-background-color);
}

.folder-button {
    background: none;
    border: none;
    width: 95%;
    text-align: left;
    border-radius: 3px;
}

.folder-button:hover {
    background: var(--selection-background-color);
}


li {
    list-style-type: none;
    line-height: 5px;
}

ul {
    padding-left: 10px;
}


.group-toggle {
    background: none;
    border: none;
    color: var(--sidebar-text-color);
}

.group-toggle::before {
    content: "►";
}

.unfolded::before {
    content: "▼";
}

.nested {
    padding-left: 12px;
    display: none;

}

.nested li {
    margin: 0;
    border-left: 1px solid var(--selection-background-color);
}

.nested.active {
    display: block;
}

.text-editor {
    flex: 1;
    padding: 0 50x;
    background-color: var(--editor-background-color);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    outline: 0px solid transparent;
    border: 0px solid transparent;
    overflow : auto;
    resize: none;
    padding: 20px;
    position: relative;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--editor-text-color);
}

::selection {
    background-color: var(--selection-background-color);
}

::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar {
    background: transparent;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--sidebar-text-color);
    border-radius: 2px;
}

